header{
  
  padding: 5px 30px;
  .lt_header_pl{
   position: absolute;
   color: inherit;
   left: 8px;
   top:12px;
  }
  .searchTxt{
   width: 100%;
   height: 100%;
  // color: black;
  }
  .lt_header_pr{
    color: inherit;
    position: absolute;
    right: 8px;
    top:12px;
  }
}